.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);

    color: white;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar a:hover {
    color: #00adb5;
}
/* Mobile menu fix */
@media (max-width: 768px) {
    .navbar {
    padding: 15px 20px;
    }

    .navbar ul {
    display: none; /* hide menu for now */
    }
}
.logo {
    display: flex;
    align-items:center;
    gap: 10px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;   /* makes it round */
    object-fit: cover;
    border: 2px solid #00adb5;
}

.logo h2 {
    font-size: 30px;
    color: white;
}